[submodule "packages/external-idp-user-api"]
	path = packages/external-idp-user-api
	url = git@github.com:LinkedMink/external-idp-user-api.git
	branch = main
[submodule "packages/road-wave-fm-rpc"]
	path = packages/road-wave-fm-rpc
	url = git@github.com:LinkedMink/road-wave-fm-rpc.git
	branch = main
[submodule "packages/road-wave-fm-web"]
	path = packages/road-wave-fm-web
	url = git@github.com:LinkedMink/road-wave-fm-web.git
	branch = main
[submodule "packages/node-cli-utilities"]
	path = packages/node-cli-utilities
	url = git@github.com:LinkedMink/node-cli-utilities.git
	branch = main
[submodule "packages/eip-4361-parser"]
	path = packages/eip-4361-parser
	url = git@github.com:LinkedMink/eip-4361-parser.git
	branch = main
